.listTypeHead {
    width: 35%;
    ;
}

.paymentCredHead {
    padding-top: 10px;
}

.icnCoin {
    font-size: 20px;
}

.SMSCred {
    font-weight: 500;
    font-size: 18px;
    color: #404040;
}

.SMSCred-light {
    font-size: 15px;
    font-weight: 400;
}

.remove-padding {
    padding: 0;
}

.pad-left {
    padding-left: 5px;
}

.check-icon {
    font-size: 25px;
    color: #4fc47f;
}
.paycredBtn{
    text-align: right;
}